*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

#pdfDiv {
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;

    & {
        .formImg {
            max-width: 600px;
        }
    }
}

#preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.card {
    position: relative;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fafafa;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.closed {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-btn {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.next,
.prev {
    color: #000000;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}

.prev {
    background-color: #007bff;
    /* border radios en la izquierda  */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    &:hover {
        background-color: #0056b3;
        scale: 1.1;
        transition: 0.3s;
    }
}

.next {
    background-color: #bfff00;
    /* border radios en la derecha  */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    &:hover {
        background-color: #8db600;
        scale: 1.1;
        transition: 0.3s;

    }

}

/* primera card */
.card:first-child {
    & .prev {
        display: none;
    }

    & .next {
        border-radius: 5px;
    }
}

/** última card */
.card:last-child {
    & .next {
        display: none;
    }

    & .prev {
        border-radius: 5px;
    }
}


label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

input[type="file"] {
    display: block;
    margin-bottom: 20px;
}

#btn-generar {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

#btn-generar:hover {
    background-color: #218838;
}

iframe {
    width: 100%;
    height: 500px;
    border: none;
    display: none;

}

.success {
    color: green;
    display: block !important;
    width: 100%;
}